{% extends 'base.html' %}
{% block title %}Zoo Story{% endblock %}
{% block content %}
<form action="/story2-solution">
    <p>Adjective: <input type="text" name="adj1"></p>
    <p>Noun: <input type="text" name="noun1"></p>
    <p>Verb: <input type="text" name="verb1"></p>
    <p>Adverb: <input type="text" name="adverb1"></p>
    <p>Adjective: <input type="text" name="adj2"></p>
    <p>Noun: <input type="text" name="noun2"></p>
    <p>Noun: <input type="text" name="noun3"></p>
    <button>Fill out Story</button>
</form>
{% endblock %}